.specific-entry {
  position: absolute;
  margin: 0 auto;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5vh;
  background-color: #ffffff;
  width: 70vw;
  height: 50vh;
  border-radius: 6%;
}

.selected-date {
  font-size: 25px;
  font-family: 'DM Serif Text', serif;
}

.selected-mood {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  widows: 100vw;
  margin: 0 auto;
  font-size: 19px;
  font-family: 'Slabo 27px', serif;
}

.edit-journal-text {
  width: 50vw;
  height: 5vh;
}

.selected-note {
  display: flex;
  margin-top: 2vh;
  width: 70vw;
  height: 30vh;
  overflow-y: auto;
  font-family: 'Slabo 27px', serif;
}
