@media (max-width: 800px) {
  .full-graph-health {
    background-color: #f6f6f6;
    color: black;
    height: 100vh;
  }

  .introduction-graph {
    margin-top: 8vh;
    text-align: center;
    font-size: 25px;
  }

  .my-chart-holder {
    width: 100vw;
    height: 40vh;
  }
}

@media (min-width: 800px) {
  .full-graph-health {
    background-color: #f6f6f6;
    color: black;
    height: 100vh;
    margin-top: 12vh;
  }

  .introduction-graph {
    text-align: center;
    font-size: 25px;
  }

  .my-chart-holder {
    width: 100vw;
    height: 40vh;
  }
}