.hold-counselor-full{
    position: absolute;
    background-color: #f6f6f6;
    height: 100vh;
    font-family: 'DM Serif Text', serif;
}

.fill-space{
    width: 100vw;
    height: 20vh;
    background-color: #f6f6f6;
}

.login{
    
    color: white;
    justify-content: flex-end;
    font-size: 20px;
    border: none;
    padding: .6vh 6vw;
    border-radius: 12px;
}

.signup{
    text-decoration: none;
}
