.repeating-days {
  border: 1px solid #3ea7f1;
  border-radius: 6%;
  width: 28.2vw;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.dark-dash-journal {
  position: absolute;
  background-color: rgba(39, 39, 39, 0.9);
  top: 0;
  left: 0%;
  width: 100vw;
  height: 150vh;
  margin: 0 auto;
}


.edit-journal-text {
  background-color: #f6f6f6;
}

.repeating-date {
  right: 0;
  font-size: 20px;
}

.repeating-mood {
  display: flex;
  margin: 0 auto;
  font-size: 25px;
}

