.repeating-days {
  border: 1px solid #3ea7f1;
  border-radius: 6%;
  width: 28.2vw;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.repeating-date {
  right: 0;
  font-size: 20px;
}

.repeating-mood {
  display: flex;
  margin: 0 auto;
  font-size: 25px;
}
