.repeating-days{
border-style: groove;
width: 70vw;
margin: 0 auto;
margin-top: 2vh;
display: flex;
flex-direction: column;
}

.repeating-date{
    right: 0;
    font-size: 20px;
}

.repeating-mood{
    display: flex;
    margin: 0 auto;
    font-size: 25px;
}