@media (max-width: 850px) {

  .first-survey-container {
    width: 60vw;
    /* height: 25vh; */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 23%;
    margin: 0 auto;
    margin-top: 4vh;
  }

  .dark-dash{
    position: absolute;
    z-index: 2;
    background-color: rgba(39, 39, 39, 0.9);
    top: 0;
    width: 100vw;
    height: 150vh;
    margin: 0 auto;
  }

  .dark-dash-counselor{
    position: absolute;
    background-color: rgba(39, 39, 39, 0.9);
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }

  .survey-container {

    width: 90vw;
    /* height: 25vh; */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10%;
    
   
    position: absolute;
    margin-left: 4.5vw;
    margin-top: 30vh;
   
  }

  .survey-text {
    font-size: 20px;
    width: 100vw;
    font-family: 'Slabo 27px', serif;
  }

  .survey-question {
    text-align: center;
    margin-top: 3vh;
    font-size: 20px;
    color: black;
  }

  .align-input-center {
    display: flex;
    margin-top: 1vh;
  }

  .textarea-journal {
    width: 50vw;
    height: 10vh;
    background-color: #f6f6f6;
    margin: 0 auto;
  }

  .next-back {
    height: 5vh;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    color: rgb(8, 8, 8);
  }
}

.input-color {
  background-color: #f6f6f6;
  margin: 0 auto;
}

@media (min-width: 860px) {
  .survey-container {
    margin: 0 auto;
    width: 40vw;
    height: 25vh;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10%;
    margin-top: 2vh;
  }
}
