.hold-all-header {
  position: fixed;
  top: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  width: 100vw;
  color: white;
  position: fixed;
  background-color: rgba(255,255,255, .4);
  top: 0;
}

.img-logo {
  width: 45px;
  height: 45px;
  margin-top: 1vh;
  margin-left: 1vw;
  border-radius: 50%;
  border-style: solid;
  display: flex;
  border-color: #ffb008;
}

.menu-btn-content {
  display: flex;
  color: #3ea7f1;
  font-size: 40px;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}


/* 
nav-menu {  
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 58vw;
  z-index: +5;
  background: rgb(54, 54, 54);
  border-radius: 0px 0px 0px 35px;
} */

.nav-link {
  color: white;
  font-size: 30px;
}
