.holder{
    margin-top: 7vh;
}

.mapped-message-holder{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20vh;
}



.received-message{
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
}

.sent-message{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.messaging-picture{
    width: 25px;
    height: 25px;
   margin-top: 8px;
    border-radius: 50%;
    display: flex;
}

.received-message-color{
    background-color: #ffb008;
    border-radius: 25px;
    margin-left: 3vw;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-weight: 300;
}

.sent-message-color{
    background-color: #3ea7f1;
    border-radius: 25px;
    color: black;
    margin-right: 3vw;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-weight: 300;
}

.message-footer{
    background-position: 0% 0%;
    position: fixed;
    height: 8vh;
    width: 100vw;
    bottom: 0pt;
    background-color: rgba(255,255,255, .4);
}

.message-input{
    margin-top: 2vh;
    background-attachment: scroll;
    height: 3vh;
    border-radius: 25px;
}