.user-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-style: solid;
  display: flex;
  margin-left: 39vw;
  border-color: gray;
  margin-top: 4vh;
}

.scroll-right {
  height: 30vh;
  width: 100vw;
  background-color: rgb(242, 242, 250);
  display: flex;
  overflow: scroll;
}

.h4{
  margin-top: 5vh;
  text-align: center;
  margin-bottom: 0px;
}