.journal-holder-component {
  height: 100vh;
  margin-top: 8vh;
  background-color: #f6f6f6;
}

.repeating {
  margin: 0 auto;
  border: 2px solid #ffb008;
  border-radius: 6%;
  color: rgb(31, 31, 31);
  height: 50vh;
  width: 90vw;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
justify-content: space-around;
  
}
